{% extends 'appTodoList/base.html' %}

{% block title %}
    Tasks
{% endblock %}

{% block content %}
{% for task_list in task_lists %}
    <h1>{{ task_list.name }}</h1>
    <table class="ui celled table">
        <thead>
            <tr>
                <th colspan="2">Prioridad</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_list.get_tasks %}
                <tr>
                    <td>
                        <form action="{% url "tasks:increase_priority" %}" method="POST">
                            <input type="hidden" value="{{ task.id }}" name="id">
                            <button type="submit"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url "tasks:decrease_priority" %}" method="POST">
                            <input type="hidden" value="{{ task.id }}" name="id">
                            <button type="submit"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                        </form>
                    </td>
                    <td>
                    <span onclick="edit({{task.id}}, '{{task.name}}')" style="cursor: pointer">
                        {% if task.done %}
                            <span style="color: darkgreen">✓</span>
                            <strike>
                                {{ task.name }}
                            </strike>
                        {% else %}
                            {{ task.name }}
                        {% endif %}
                    </span>
                    </td>
                    <td>
                        <form action="{% url "tasks:change_state" %}" method="POST">
                            <input type="hidden" value="{{ task.id }}" name="id">
                            <button type="submit">{% if task.done %}Hecho{% else %}Pendiente{% endif %}</button>
                        </form>
                    </td>
                    <td>
                        <button type="button" onclick="edit({{task.id}}, '{{task.name}}')"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                    </td>
                    <td>
                        <form action="{% url "tasks:delete_task" %}" method="POST">
                            <input type="hidden" value="{{ task.id }}" name="id">
                            <button type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <br/>
    <form action="{% url "tasks:add_task" %}" method="POST">
        {% csrf_token %}
        Nueva tarea: <input type="text" name="task_name">
        <input type="hidden" name="list_id" value="{{task_list.id}}">
        <button type="submit">Agregar</button>
    </form>
{% endfor %}
    </br>
    </br>
     <form action="{% url "tasks:add_list" %}" method="POST">
        {% csrf_token %}
        Nueva lista: <input type="text" name="name">
        <button type="submit">Agregar lista</button>
    </form>
    <form id="form-edit" method="POST" action="{% url "tasks:edit_name" %}">
        {% csrf_token %}
        <input id="id" type="hidden" name="id" value="">
        <input id="name" type="hidden" name="name" value="">
    </form>
{% endblock %}

{% block js %}
    <script>
        function edit(id, old_name) {
            var name = prompt("Nombre de la tarea:", old_name);
            if (name != null) {
                var form = document.getElementById('form-edit');
                document.getElementById('id').value = id;
                document.getElementById('name').value = name;
                form.submit();
            }
        }
    </script>
{% endblock %}
