<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tasks</title>
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Estado</td>
                    <td>Eliminar</td>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            {% if task.done %}
                                <strike>
                                    {{ task.name }}
                                </strike>
                            {% else %}
                                {{ task.name }}
                            {% endif %}
                        </td>
                        <td>
                            <form action="{% url "tasks:change_state" %}" method="POST">
                                <input type="hidden" value="{{ task.id }}" name="id">
                                <button type="submit">{% if task.done %}Hecho{% else %}Pendiente{% endif %}</button>
                            </form>
                        </td>
                        <td>
                            <form action="{% url "tasks:delete_task" %}" method="POST">
                                <input type="hidden" value="{{ task.id }}" name="id">
                                <button type="submit">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    <form action="{% url "tasks:add_task" %}" method="POST">
        Nombre: <input type="text" name="name">
        <button type="submit">Agregar</button>
    </form>
    </body>
</html>